@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);

#container {
	max-width: 30em;
	margin: 0 auto;
}

body {
  font-family: 'Quattrocento', 'Trebuchet MS', 'Verdana', serif;
	font-size: 20pt;
}

h1, h2, h3, h4 {
	font-family: 'Alfa Slab One','Arial Black', 'Arial', san-serif;
}

h1 {
	text-align: center;
  font-weight: 900;
	font-size: 2em;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

h2, h3, h4 {
	padding-top: 1em;
	padding-bottom: 0.5em;
}

p {
  line-height: 1.25em;
	padding-bottom: 1em;
}

ul {
	list-style-position: inside;
	list-style-type: circle;
	padding-left: 1em;
	text-indent: -1em;
}

#content {
	padding: 0;
	text-align: justify;
	border-bottom: 1px solid #ddd;
}

#tags {
	font-size: 0.6em;
	font-color: #ddd;
	padding: 1em;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
  line-height: 1.75em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
}

#tags ul {
	display: inline;
	margin: 0 auto;
	padding: 0;
}

#tags li {
	display: inline;
	border:1px solid #ddd;
	border-radius: 2px;
	background-color:#eee;
	text-decoration: none;
	padding: 0.1em 1em 0.1em 1em;
	margin: 0.1em;
}

#tags li:before {
	content: "#";
}

#tags li:hover {
	background-color:#fff;
}

#tags li a {
	text-decoration: none;
	font-color: #ddd;
}

#sidebar {
	font-size: 0.75em;
	overflow: auto;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

#sidebar #avatar {
	max-width: 20%;
	float:left;
}

#sidebar #avatar img {
	max-width: 80%;
	border-radius: 999px;
	border: 1px solid #ddd;
}

#sidebar #text {
	max-width: 80%;
	float: right;
	text-align: justify;
}

a.ext_link {
	background: url(/ext_link.gif) no-repeat 100% 25%;
	padding: 0 0.65em 0 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

code {
	font-family: Consolas, serif;
	font-size: 0.75em;
}

.highlight {
	font-family: Consolas, serif;
	font-size: 0.5em;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	padding: 1em;
	margin-bottom: 1em;
}

#disqus_thread {
	margin-top: 1em;
	border-top: 1px solid #ddd;
}

/* MailChimp signup */
#mc_embed_signup {
	clear: left;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
	font-size: 0.6em;
	padding: 0.4em;
}

#mc_embed_signup input {
	border:1px solid #ddd;
	border-radius: 2px;
	background-color:#eee;
}

#mc_embed_signup input.email {
	width: 30em;
}

#headshot {
	border-radius:1em;
	float:left;
 	margin-right: 1em;
 	margin-bottom: 1em;
}

@media (max-width: 600px) {
	#container {
		margin: 1em;
		padding: 1em;
	}

	body {
		font-family: 'Quattrocento', 'Trebuchet MS', 'Verdana', serif;
		font-size: 12pt;
	}

	#headshot {
		border-radius:1em;
		margin: auto;
		clear: both;
		display: block;
		float: none;
	}

	#sidebar {
		font-size: 1em;
	}
}

